@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-select .Select__control {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}
  
  .dark-select .Select__menu {
    background-color: #333; /* Dark background color for the dropdown menu */
    color: #fff; /* Light text color for menu items */
}
  